.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 20px 35px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.btn-margin {
  margin-left: 30px;
}
.secondary-bg {
  background-color: #fff8f3;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
}
.section-description {
  font-weight: 400px;
  font-size: 18px;
}
.text-align{
    text-align: center;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  /* gap: 500px; */
  margin: 50px 230px;
  cursor: pointer;
}
.nav-title {
  font-weight: bolder;
  font-size: 45px;
}

ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 20px 50px;
}
nav ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400px;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  /* margin: 297px 785px 184px 230px; */
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-getings {
  font-weight: 600px;
  font-size: 45px;
}
.banner-title {
  font-weight: 800px;
  font-size: 85px;
}
.banner-description {
  font-weight: 400px;
  font-size: 18px;
}
.background-img {
  width: 584px;
  height: 676px;
  /* margin: 161px 38px 0px 978px; */
}
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    left top,
    right bottom;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about style */
.about {
  text-align: center;
  padding: 130px 150px;
  border-radius: 20px;
  margin-top: 130px;
  margin-bottom: 130px;
}
.item-title {
  font-size: 18px;
  font-weight: 400px;
}
.item-description {
  font-weight: 782px;
  font-size: 22px;
}
.about-items {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin: 30px 22px 0 22px;
}
/* skill styles */
.skills{
    margin-bottom: 130px;
}
.skill-container{
    display: flex;
    gap: 24px;
    border-radius: 5px;
    margin-top: 50px;
}
.skill{
    padding: 30px;
     box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.09);
    
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
}
/* resume styles */
.resume-heading{
    font-weight: bold;
    font-size: 35px;
}
.resume-container{
    display: flex;
    gap: 71px;
}
.resume-colum-title{
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.resume-title{
    font-weight: bold;
    font-size: 25px;
}
.resume-sub-title{
    font-weight: 600;
    font-size: 20px;
}
.resume-description{
    font-weight: 400px;
    font-size: 16px;
}
.resume-btn{
    text-align: center;
    margin-top: 50px;
}
hr{
    margin: 30px 0 30px 0;
}